
<%-include('../includes/head.html')%>

<form action="/topic/edit" method="post">
	<div class="form-group">
		<label for="exampleInputEmail1">话题</label>
		<input name="article_title"  value="<%-result[0].article_title%>"  class="form-control"   placeholder="请输入你的话题"></div>
	<div class="form-group">
		<label >详细说明</label>
		<textarea name="article_content" id="" style="width:100%" placeholder="请输入说明"><%-result[0].article_content%></textarea>
	</div>
	<div class="form-group">
		<input type="hidden" name="id" value="<%-result[0].id%>">
		 <input type="submit" value="修改话题" class="btn btn-success">
	</div>
</form>

<%-include('../includes/foot.html')%>